In [4]:
import pandas as pd

## Задание 1

Скачайте с сайта grouplens.org...movielens/ датасет любого размера. Определите какому фильму было выставлено больше всего оценок 5.0.

In [63]:
movies = pd.read_csv('ratings.csv')
top_films = movies [movies.rating == 5 ]
top_films['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

In [64]:
# одной строкой
movies [movies.rating == 5 ]['movieId'].value_counts().head(1)

318    153
Name: movieId, dtype: int64

## Задание 2

По данным файла power.csv посчитайте суммарное потребление стран Прибалтики (Латвия, Литва и Эстония) категорий 4, 12 и 21 за период с 2005 по 2010 года. Не учитывайте в расчетах отрицательные значения quantity.

In [109]:
power = pd.read_csv('power.csv')
power.head()

   country  year  quantity  category
0  Austria  1996       5.0         1
1  Austria  1995      17.0         1
2  Belgium  2014       0.0         1
3  Belgium  2013       0.0         1
4  Belgium  2012      35.0         1

In [110]:
sum(power[ (power.quantity >= 0) & 
           (power.category.isin( [4,12,21] )) & 
           (power.country.isin(['Lithuania', 'Estonia', 'Latvia'])) & 
           (power.year >= 2005) &
           (power.year <= 2010) ]
    .quantity )

240580.0

## Задание 3
Выберите страницу любого сайта с табличными данными. Импортируйте таблицы в pandas dataframe.
Примеры страниц (необязательно брать именно эти):
https://fortrader.org/quotes
www.finanz.ru...om-vremeni

In [116]:
url = 'https://premierliga.ru/tournaments/championship/tournament-table/'

In [179]:
url_table = pd.read_html(url, header = 0)[3]

In [180]:
tournament_table = url_table.rename(columns=url_table.iloc[0]).drop(url_table.index[0])
tournament_table

,nan,Команда,nan,И,В,Н,П,з - п,О,nan,...,В,Н,П,з - п,nan,В,Н,П,з - п,nan
1,1.0,Зенит,NaN,2,2,0,0,7 - 3,6,NaN,...,0,0,0,0 - 0,NaN,2,0,0,7 - 3,NaN
2,2.0,Рубин,NaN,2,2,0,0,4 - 0,6,NaN,...,1,0,0,1 - 0,NaN,1,0,0,3 - 0,NaN
3,3.0,Локомотив,NaN,2,2,0,0,5 - 2,6,NaN,...,1,0,0,3 - 1,NaN,1,0,0,2 - 1,NaN
4,4.0,Динамо,NaN,2,2,0,0,5 - 2,6,NaN,...,0,0,0,0 - 0,NaN,2,0,0,5 - 2,NaN
5,5.0,Нижний Новгород,NaN,2,1,1,0,2 - 1,4,NaN,...,1,0,0,1 - 0,NaN,0,1,0,1 - 1,NaN
6,6.0,Сочи,NaN,2,1,0,1,2 - 2,3,NaN,...,0,0,0,0 - 0,NaN,1,0,1,2 - 2,NaN
7,7.0,Химки,NaN,2,1,0,1,2 - 3,3,NaN,...,0,0,1,1 - 3,NaN,1,0,0,1 - 0,NaN
8,8.0,ПФК ЦСКА,NaN,2,1,0,1,2 - 2,3,NaN,...,1,0,1,2 - 2,NaN,0,0,0,0 - 0,NaN
9,9.0,Спартак,NaN,2,1,0,1,1 - 1,3,NaN,...,0,0,0,0 - 0,NaN,1,0,1,1 - 1,NaN
10,10.0,Ахмат,NaN,2,1,0,1,3 - 3,3,NaN,...,0,0,1,1 - 2,NaN,1,0,0,2 - 1,NaN
11,11.0,Краснодар,NaN,2,1,0,1,3 - 1,3,NaN,...,0,0,1,0 - 1,NaN,1,0,0,3 - 0,NaN
12,12.0,Урал,NaN,2,0,1,1,1 - 4,1,NaN,...,0,1,1,1 - 4,NaN,0,0,0,0 - 0,NaN
13,13.0,Уфа,NaN,2,0,0,2,2 - 4,0,NaN,...,0,0,1,2 - 3,NaN,0,0,1,0 - 1,NaN
14,14.0,Крылья Советов,NaN,2,0,0,2,1 - 3,0,NaN,...,0,0,2,1 - 3,NaN,0,0,0,0 - 0,NaN
15,15.0,Ростов,NaN,2,0,0,2,2 - 6,0,NaN,...,0,0,2,2 - 6,NaN,0,0,0,0 - 0,NaN
16,16.0,Арсенал,NaN,2,0,0,2,1 - 6,0,NaN,...,0,0,1,0 - 3,NaN,0,0,1,1 - 3,NaN