In [2]:
import pandas as pd

## Задание 1

Напишите функцию, которая классифицирует фильмы из материалов занятия по следующим правилам:

- оценка 2 и меньше - низкий рейтинг
- оценка 4 и меньше - средний рейтинг
- оценка 4.5 и 5 - высокий рейтинг

Результат классификации запишите в столбец class

In [3]:
ratings = pd.read_csv('ratings.csv')
ratings.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [14]:
def film_class(a):
    
    """Классифицируем фильмы по рейтингу"""
    
    if a <= 2:
        return 'low'
    elif a <= 4:
        return 'middle'
    else:
        return 'high'

In [9]:
ratings['class'] = ratings['rating'].apply(film_class)

In [12]:
ratings['class'].value_counts()

middle    63801
high      22818
low       13385
Name: class, dtype: int64

## Задание 2

Используем файл keywords.csv.

Необходимо написать гео-классификатор, который каждой строке сможет выставить географическую принадлежность определенному региону. Т. е. если поисковый запрос содержит название города региона, то в столбце ‘region’ пишется название этого региона. Если поисковый запрос не содержит названия города, то ставим ‘undefined’.

Правила распределения по регионам Центр, Северо-Запад и Дальний Восток:

geo_data = {

1
2
3
4
5
'Центр': ['москва', 'тула', 'ярославль'],

'Северо-Запад': ['петербург', 'псков', 'мурманск'],

'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск']
}

Результат классификации запишите в отдельный столбец region.

In [16]:
geo_data = {
'Центр': ['москва', 'тула', 'ярославль'],
'Северо-Запад': ['петербург', 'псков', 'мурманск'],
'Дальний Восток': ['владивосток', 'сахалин', 'хабаровск'] }

In [19]:
keywords  = pd.read_csv('keywords.csv')

In [38]:
keywords.head()

         keyword     shows    claster
0             вк  64292779  undefined
1  одноклассники  63810309  undefined
2          порно  41747114  undefined
3           ютуб  39995567  undefined
4      вконтакте  21014195  undefined

In [53]:
def geo_clastering(a):
    
    for claster, cities in geo_data.items():
        for city in cities:
            if city in a.lower():
                return claster
            
    return 'undefined'

In [54]:
keywords['claster'] =  keywords['keyword'].apply(geo_clastering)

In [55]:
keywords['claster'].value_counts()

undefined         99253
Центр               387
Северо-Запад        266
Дальний Восток       94
Name: claster, dtype: int64

## Задание 3

Есть мнение, что “раньше снимали настоящее кино, не то что сейчас”. Ваша задача проверить это утверждение, используя файлы с рейтингами фильмов из прошлого домашнего занятия (файл movies.csv и ratings.csv из базы grouplens.org.../movielens). Т. е. проверить верно ли, что с ростом года выпуска фильма его средний рейтинг становится ниже.

При этом мы не будем затрагивать субьективные факторы выставления этих рейтингов, а пройдемся по следующему алгоритму:

В переменную years запишите список из всех годов с 1950 по 2010.

Напишите функцию production_year, которая каждой строке из названия фильма выставляет год выпуска. Не все названия фильмов содержат год выпуска в одинаковом формате, поэтому используйте следующий алгоритм:
+ для каждой строки пройдите по всем годам списка years
+ если номер года присутствует в названии фильма, то функция возвращает этот год как год выпуска
+ если ни один из номеров года списка years не встретился в названии фильма, то возвращается 1900 год

Запишите год выпуска фильма по алгоритму пункта 2 в новый столбец ‘year’

Посчитайте средний рейтинг всех фильмов для каждого значения столбца ‘year’ и отсортируйте результат по убыванию рейтинга

In [84]:
years_list = list(range(1950,2011))

In [85]:
ratings.head(1)

   userId  movieId  rating   timestamp   class
0       1       31     2.5  1260759144  middle

In [86]:
movies = pd.read_csv('movies.csv')
movies.head(1)

   movieId             title                                       genres
0        1  Toy Story (1995)  Adventure|Animation|Children|Comedy|Fantasy

In [87]:
def production_year(a):
    
    for year in years_list:
        if str(year) in a:
            return year
        
    return 1900

In [88]:
movies['year'] = movies['title'].apply(production_year)
movies.tail()

,movieId,title,genres,year
9120,162672,Mohenjo Daro (2016),Adventure|Drama|Romance,1900
9121,163056,Shin Godzilla (2016),Action|Adventure|Fantasy|Sci-Fi,1900
9122,163949,The Beatles: Eight Days a Week - The Touring Y...,Documentary,1900
9123,164977,The Gay Desperado (1936),Comedy,1900
9124,164979,"Women of '69, Unboxed",Documentary,1900

In [91]:
joined = movies.merge(ratings).groupby('year').mean().reset_index()

sorted_ratings = joined[['year', 'rating']].sort_values('rating', ascending = False)

sorted_ratings.head(10)

    year    rating
8   1957  4.014241
23  1972  4.011136
3   1952  4.000000
5   1954  3.994220
2   1951  3.983539
25  1974  3.978704
13  1962  3.952446
1   1950  3.915254
28  1977  3.905786
15  1964  3.841492

Похоже раньше кино действительно было лучше.